# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]
*$py.class

# =====================================
# Virtual Environment
# =====================================
.venv/
venv/
env/

# =====================================
# Jupyter
# =====================================
.ipynb_checkpoints/

# =====================================
# VS Code
# =====================================
.vscode/

# =====================================
# MLflow
# =====================================
mlruns/
mlflow.db
mlflow.db-journal

# =====================================
# Experiment Outputs
# =====================================
outputs/

# =====================================
# Logs
# =====================================
logs/
*.log

# =====================================
# Trained Models
# =====================================
*.pkl
*.joblib
*.onnx
*.pt
*.pth

# =====================================
# Python Cache
# =====================================
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# =====================================
# HuggingFace / Transformers Cache
# =====================================
.cache/
huggingface/

# =====================================
# Operating System
# =====================================
.DS_Store
Thumbs.db